[Unit]
Description=Snapcast client
After=network-online.target sound.target
Requires=network-online.target

[Service]
Type=forking
EnvironmentFile=-/storage/.kodi/addons/service.snapcast/default/snapclient
ExecStartPre=/bin/sh /storage/.kodi/addons/service.snapcast/bin/snapcast.init
ExecStart=/storage/.kodi/addons/service.snapcast/bin/snapclient -d $USER_OPTS $SNAPCLIENT_OPTS
PIDFile=/var/run/snapclient/pid
Restart=always

[Install]
WantedBy=multi-user.target
